:root {
  --page-padding: 0.75rem;
  --page-padding-md: 2rem;
  --page-padding-xl: 2.5rem;
  --page-header-height: 56px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/************************/
/*   CUSTOM CODE HIKE   */
/************************/

:root {
  --ch-scrollycoding-sticker-width: 650px;
  --ch-scrollycoding-code-min-height: min-content;
}

.ch-expand-dialog {
  max-width: none;
}

.ch-scrollycoding-step-content {
  padding: theme('spacing.6');
}

.ch-scrollycoding-step-content[data-selected='true'] {
  border-color: theme('colors.secondary.300');
  background-color: theme('colors.secondary.200/50%');
}

.ch-frame-buttons {
  display: none;
}
