:root {
  --page-padding: 0.75rem;
  --page-padding-md: 2rem;
  --page-padding-xl: 3rem;
  --page-header-height: 56px;
  --xx: 4px;

  --page-side-nav-absolute-width: 280px;

  --page-side-nav-width: calc(
    var(--page-side-nav-absolute-width) + var(--page-padding)
  );

  --page-side-nav-width-md: calc(
    var(--page-side-nav-absolute-width) + var(--page-padding-md)
  );

  --page-side-nav-width-xl: calc(
    var(--page-side-nav-absolute-width) + var(--page-padding-xl)
  );

  --page-side-nav-padding: calc(var(--page-padding) - var(--xx));

  --page-side-nav-padding-md: calc(var(--page-padding-md) - var(--xx));

  --page-side-nav-padding-xl: calc(var(--page-padding-xl) - var(--xx));
}

.article-content {
  @apply pl-[--page-side-nav-width] pt-8 md:pl-[--page-side-nav-width-md] xl:md:pl-[--page-side-nav-width-xl]
}

article {
  padding: 0 7px;
}

article > div {
  margin: 0 auto;
  max-width: 1200px;
}

h1,
h2,
h3,
h4 {
  color: rgb(26, 31, 54);
}

h3,
h4 {
  font-weight: 600;
}

h1 {
  font-size: 34px;
  margin: 0;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 23px;
}

h4 {
  font-size: 19px;
}

h4 a {
  font-weight: 700;
  font-size: 19px;
}

p {
  line-height: 26px;
  color: rgb(60, 66, 87);
  font-size: 16px;
}

b,
strong {
  font-weight: bold;
}

mark {
  background: #ff0;
  color: #000;
}

* {
  box-sizing: border-box;
}

body,
html {
  font-weight: 500;
  font-size: 1rem;
  font-family: Arial, sans-serif;
  margin: 0;
  line-height: 1.5;
}

code,
kbd,
pre,
samp {
  font-size: 12px;
  font-family: monospace;
}

body,
button,
html,
input {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  @apply text-blue-500 text-base;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  @apply text-gray-900;
  text-decoration: none;
}

p,
li,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
  hyphens: auto;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
