@import 'tailwindcss';
@import '../node_modules/@marigold/theme-docs/dist/theme.css';
@plugin '@tailwindcss/typography';
@source '../src/**/*.tsx';
@source '../node_modules/@marigold/components';
/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@layer base {
  :root {
    --page-padding: 0.75rem;
    --page-padding-md: 2rem;
    --page-padding-xl: 2.5rem;
    --page-header-height: 56px;
  }
  h1 {
    font-size: 80px;
    font-weight: 900;
    letter-spacing: -1.5px;
    padding-top: 8rem; /* Tailwind spacing 32 */
    margin-bottom: 2.5rem; /* Tailwind spacing 10 */
  }
}

/************************/
/*   CUSTOM CODE HIKE   */
/************************/

:root {
  --ch-scrollycoding-sticker-width: 650px;
}

.ch-expand-dialog {
  max-width: none;
}

.ch-codeblock,
.ch-preview,
.ch-scrollycoding {
  margin: --spacing(8) 0;
}

.ch-code-wrapper {
  padding: 0 --spacing(1);
}

.ch-scrollycoding-step-content {
  padding: --spacing(6);
}

.ch-scrollycoding-step-content[data-selected='true'] {
  border-color: theme('colors.secondary.300');
  background-color: theme('colors.secondary.200/50%');
}

.ch-frame-buttons {
  display: none;
}

.ch-mini-browser .ch-frame-buttons {
  display: flex;
}

.ch-mini-browser .ch-frame-content {
  flex-basis: auto;
}

.ch-codeblock .ch-code-button,
.ch-codegroup .ch-editor-button {
  display: none;
}

.ch-codeblock:hover .ch-code-button,
.ch-codegroup:hover .ch-editor-button {
  display: block;
}

.ch-code-multiline-mark > .ch-code-button {
  display: none !important;
}

h1 {
  font-size: 80px;
  font-weight: 900;
  letter-spacing: -1.5px;
  padding-top: 8rem; /* Tailwind spacing 32 */
  margin-bottom: 2.5rem; /* Tailwind spacing 10 */
}
h2 {
  font-size: 32px;
  font-weight: 900;
  margin-top: 6rem; /* Tailwind spacing 24 */
  margin-bottom: 1.5rem; /* Tailwind spacing 6 */
}
@utility content {
  padding: var(--page-padding);
}
@utility content-md {
  padding: var(--page-padding-md);
}
@utility content-xl {
  padding: var(--page-padding-xl);
}
@utility grid-cols-content {
  grid-template-columns:
    minmax(var(--page-padding), 1fr)
    minmax(0, 1300px)
    minmax(var(--page-padding), 1fr);
}
@utility grid-cols-content-md {
  grid-template-columns:
    minmax(var(--page-padding-md), 1fr)
    minmax(0, 1300px)
    minmax(var(--page-padding-md), 1fr);
}
@utility grid-cols-content-xl {
  grid-template-columns:
    minmax(var(--page-padding-xl), 1fr)
    minmax(0, 1300px)
    minmax(var(--page-padding-xl), 1fr);
}
